@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}
a {text-decoration: none;}
body {
	background-color: #dfe4ea;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 550px;
	max-width: 100%;
	margin-top: 90px;
}

.header {
	border-bottom: 3px solid #fd0000;
	background-color: #74a0e3;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
	text-align: center;

}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #3140c4;
	border: 2px solid #3140c4;
	outline: none;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
    width: 100%;
    cursor: pointer;
}
/* ============================================= */
#show-hide{
	display: none;
    position: absolute;
    top: 10px;
	right: 10px;
	cursor: pointer;
}

nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(#fff, #dfe4ea);
    position: fixed;
	z-index: 1;
	top: 0;
}
.list {
    float: left;
    display: block;
}
.list::after {
    content: "";
    clear: both;
}
.list>ul {
    list-style: none;
    margin: 0;
}
.list ul li {
    display: inline-block;
    padding: 30px 10px;
    margin-right: 15px;
}
.list ul li a {
    color: #252525;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    /* line-height: 60px; */
    padding: 0 10px;
}
.list ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    margin-left: 10px;
    transition: width .3s;
}
.list ul li a:hover::after {
    width: 90%;
}
.regLogin {
    position: absolute;
    top: 17px;
    right: 15px;
    text-transform: uppercase;
    padding: 14px 10px;
    /* display: none; */
}
.regLogin a,
.logout a {
    color: #0011fc;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    /* border: 1px solid #5fa8d3; */
    padding: 10px;
}
.regLogin a:hover,
.logout a:hover {
    color: #5fa8d3;
    transform: translate3D(0, 0, 0);
}
.logout {
    position: absolute;
    top: 17px;
    right: 15px;
    text-transform: uppercase;
    padding: 14px 10px;
    visibility: hidden;
}
/* ==================== */
.menu-show {
    display: none;
}
/* ========================= Footer ========================== */
.footer {
    width: 100%;
    height: 60px;
    background: #252525;
    color: #fff;
    text-align: center;
    /* float: left; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin: -170px 0;
}
.footer-content {
        margin-top: 25px;
    }
/* =========================== Responsive =========================== */
@media only screen and (max-width: 600px) {
    .list {
        display: none;
    }
    /* =========================== Toggle menu =========================== */
    .menu-show {
        color: #797979;
        font-size: 35px;
        width: 35px;
        height: 40px;
        margin: 15px 20px;
        display: block;
        cursor: pointer;
    }
    .menu-list {
        background: rgba(0, 0, 0, .7);
        width: 229px;
        height: 110vh;
        margin-top: -72px;
        margin-left: -8px;
        display: none;
    }
    .menu-list ul {
        list-style: none;
        padding-top: 100px;
    }
    .menu-list ul li {
        list-style: none;
        text-decoration: none;
        padding-bottom: 20px;
    }
    .menu-list ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 60px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        /* transition: all .5s cubic-bezier(0.4, 0, 1, 1); */
    }
    .menu-list ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        margin-left: 10px;
        /* transition: width .3s; */
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    }
    .menu-list ul li a:hover::after {
        width: 90%;
    }
}
/* =========================== max 600px =========================== */
@media only screen and (min-width: 600px) {
    .list {
        display: none;
    }
    /* ====================== Toggle menu ========================= */
    .menu-show {
        color: #797979;
        font-size: 35px;
        width: 35px;
        height: 40px;
        margin: 15px 20px;
        display: block;
        cursor: pointer;
    }
    .menu-list {
        background: rgba(0, 0, 0, .7);
        width: 229px;
        height: 110vh;
        margin-top: -72px;
        margin-left: -8px;
        display: none;
    }
    .menu-list ul {
        list-style: none;
        padding-top: 100px;
    }
    .menu-list ul li {
        list-style: none;
        text-decoration: none;
        padding-bottom: 5px;
        width: 105px;
    }
    .menu-list ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        /* line-height: 60px; */
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .menu-list ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    }
    .menu-list ul li a:hover::after {
        width: 100%;
    }
}
/* =========================== 768px =========================== */
@media only screen and (min-width: 768px) {
	.list {
        display: block;
    }
    .menu-show {
        display: none;
    }
}
 /* =========================== 992px =========================== */
@media only screen and (min-width: 992px) {
  
} 