* {
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
a {text-decoration: none;}
/*=========================== NAV bar =========================== */
#show-hide{
	display: none;
    position: absolute;
    top: 10px;
	right: 10px;
	cursor: pointer;
}

nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(#fff, #dfe4ea);
    position: fixed;
	z-index: 1;
	top: 0;
}
.list {
    float: left;
    display: block;
}
.list::after {
    content: "";
    clear: both;
}
.list>ul {
    list-style: none;
    margin: 0;
}
.list ul li {
    display: inline-block;
    padding: 30px 10px;
    margin-right: 15px;
}
.list ul li a {
    color: #252525;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    /* line-height: 60px; */
    padding: 0 10px;
}
.list ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    margin-left: 10px;
    transition: width .3s;
}
.list ul li a:hover::after {
    width: 90%;
}
.regLogin {
    position: absolute;
    top: 17px;
    right: 15px;
    text-transform: uppercase;
    padding: 14px 10px;
    /* display: none; */
}
.regLogin a,
.logout a {
    color: #0011fc;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    /* border: 1px solid #5fa8d3; */
    padding: 10px;
    transition: 1s ease-in-out;
}
.regLogin a:hover,
.logout a:hover{
    color: #ffa600;
}
.logout:hover {
    transition: 1s ease-in-out;
    border: 1px solid #ffa600;
}
.logout {
    position: absolute;
    top: 17px;
    right: 15px;
    text-transform: uppercase;
    padding: 10px 10px;
    border: 2px solid #0011fc;
    border-radius: 5px;
    /* display: none; */
}
/* ==================== */
.menu-show {
    display: none;
}
/* ========================== */
.fileupload{ display: none;}
/* ========================= Footer ========================== */
.footer {
    width: 100%;
    height: 60px;
    background: #252525;
    color: #fff;
    text-align: center;
    float: left;
}

/* =========================== Responsive =========================== */
@media only screen and (max-width: 600px) {
    .list {
        display: none;
    }
    /* =========================== Toggle menu =========================== */
    .menu-show {
        color: #797979;
        font-size: 35px;
        width: 35px;
        height: 40px;
        margin: 15px 20px;
        display: block;
        cursor: pointer;
    }
    .menu-list {
        background: rgba(0, 0, 0, .7);
        width: 229px;
        height: 110vh;
        margin-top: -72px;
        margin-left: -8px;
        display: none;
    }
    .menu-list ul {
        list-style: none;
        padding-top: 100px;
    }
    .menu-list ul li {
        list-style: none;
        text-decoration: none;
        padding-bottom: 20px;
    }
    .menu-list ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 60px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        /* transition: all .5s cubic-bezier(0.4, 0, 1, 1); */
    }
    .menu-list ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        margin-left: 10px;
        /* transition: width .3s; */
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    }
    .menu-list ul li a:hover::after {
        width: 90%;
    }
}
/* =========================== max 600px =========================== */
@media only screen and (min-width: 600px) {
    .list {
        display: none;
    }
    /* ====================== Toggle menu ========================= */
    .menu-show {
        color: #797979;
        font-size: 35px;
        width: 35px;
        height: 40px;
        margin: 15px 20px;
        display: block;
        cursor: pointer;
    }
    .menu-list {
        background: rgba(0, 0, 0, .7);
        width: 229px;
        height: 110vh;
        margin-top: -72px;
        margin-left: -8px;
        display: none;
    }
    .menu-list ul {
        list-style: none;
        padding-top: 100px;
    }
    .menu-list ul li {
        list-style: none;
        text-decoration: none;
        padding-bottom: 5px;
        width: 105px;
    }
    .menu-list ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        /* line-height: 60px; */
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .menu-list ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
    }
    .menu-list ul li a:hover::after {
        width: 100%;
    }
}
/* =========================== 768px =========================== */
@media only screen and (min-width: 768px) {
	.list {
        display: block;
    }
    .menu-show {
        display: none;
    }
}
 /* =========================== 992px =========================== */
@media only screen and (min-width: 992px) {
  
} 
/* ============================================================= */
.input {
    margin: 10px 0;
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px
}
label{
    font-weight: bold;
    /* font-size: 17px; */
}
.editicon {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 114px;
    opacity: 0.4;
}
.editicon:hover{
    opacity: 1;
}
.content {
    position: relative;
    margin-left: 315px;
    width: 500px;
    text-align: justif;
}
.buttonsup {
    margin: 5px;
    padding: 5px;
}
/* ==================================================================== */
header {
    width: 100%;
    height: 277px;
    background: #252525;
    color: #fff;
    position: relative;
}
figure {
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 1px solid #f5f5f5;
}
.image {
    width: 242px;
    height: 242px;
    background: #fff;
    position: relative;
    top: -140px;
    box-shadow: 0 5px 10px #ccc;
    float: left;
    cursor: pointer;
}
.image img{
    width: 100%;
    height: 100%;
}
.footer-content {
    margin-top: 25px;
}
form{
    margin-bottom: 8px;
}
.button {
    background-color: #3140c4;
    border: none;
    margin: 5px 0;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 80%;
    border-radius: 5px;
}
.button a{
    color: #fff;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
