* {
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
}
.input{
    margin: 10px;
    border: none;
    outline: none;
    width: 320px;
    height: 30px;


}
.editicon{
position: relative;
left:300px;
width: 30px;
height: 30px;

}
.content {
   
    margin-left: 370px;
    font-weight: normal;
    width: 300px;
    text-align: justif;
}
.buttonsup{
    margin: 5px;
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

nav {
    width: 100%;
    height: 100px;
    background: #fff;
}

.container {
    width: 75%;
    height: 100%;
    margin: auto;
}




.list {
    float: right;
}

.list::after {
    content: "";
    clear: both;
}

.list>ul {
    list-style: none;
    margin: 20px 40px 20px 0;
}

.list>ul>li {
    display: inline-block;
    padding: 10px;
    margin-right: 15px;
}

.list>ul>li a {
    text-decoration: none;
    color: #949494;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 60px;
    padding: 0 10px;
}

.list a:hover {
    border-bottom: 2px solid #282657;
    padding-bottom: 20px;
}

header {
    width: 100%;
    height: 277px;
    background: #252525;
    color: #fff;
    position: relative;
}

.name {
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 450px;
    font-weight: normal;
    font-size: 40pt;
    letter-spacing: 5px;
}

figure {
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 1px solid #f5f5f5;
}

.image {
    width: 242px;
    background: #fff;
    position: relative;
    top: -140px;
    box-shadow: 0 5px 10px #ccc;
    float: left;
}

.image h6 {
    font-weight: normal;
    margin: 10px 50px;
    font-style: italic;
    font-size: 10pt;
}



.bio::before {
    content: '\f207';
}
.button {
    border-radius: 5%;
    background-color: rgb(84, 134, 243); /* Green */
    border: none;
    margin: 2px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .style{
    position: relative;
    vertical-align: top;
    background-color: transparent;
    position: relative;
    vertical-align: top;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
  }
    
  .sxIVS{
      background: transparent;
      border: none;
  }
  #cancle_btn{

    display: block;
    margin-top: -41px;
    margin-left: 65px;
 
}
