.container{
    margin: 50px auto;
}#h1{
    text-align: center;
    color: hsl(0, 0%, 4%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifssss;    
    font-size: 3
    0px;
}
#div2{
  
    margin-left: 500px;
    margin-top: 0px;
    
}
.form{
    width: 150px;
    height: 100px;
   
}
.form input{
    border-radius: 6px;
    width: 350px;
    height: 20px;
    font-size: 15px;
    padding: 15px;
}
#lgin{
    color: rgb(241, 236, 236); 
    background-color: rgb(14, 13, 14);
    margin-top: 10px;
    border-radius: 6px;
    width:390px;
    height: 50px; 
    font-size: 20px;
    border: 0px;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifssss;    font-size: 20px;
}
