* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    display: flex;
  /*  justify-content: space-around;
    align-items: center;
    flex-direction: column;
*/
    font-family: sans-serif;
    background: linear-gradient(#dfe4ea, #fff, #dfe4ea);
/*    background-repeat: no-repeat;*/
}
.changePass {
    width: 40%;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    background-color: rgba( 255, 255, 255, 0.643 )
}
.changePass h1 {
    text-align: center;
    padding: 50px 0 20px 0;
}
.form {
    width: 90%;
    position: relative;
    height: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background: transparent;
}
.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-input {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}
.form input:focus + .label-input .content-input,
.form input:valid + .label-input .content-input {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}
.form input:focus + .label-input::after,
.form input:valid + .label-input::after {
    transform: translateX(0);
}
.error {
    width: 90%;
    margin: 5px auto 0;
    color: red;
    font-size: 12px;
    visibility: hidden;
}

#show-hide{
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    display: none;
}
.btn {
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #5fa8d3;
    margin: 10px 5%;
    font-size: 20px;
    outline: none;
    transition: 0.3s ease;
    background: transparent;
    cursor: pointer;
}
.btn:hover {
    background: #5fa8d3;
    transform: translateY(3%);
}
.have-acc{
/*    margin-bottom: 20px;*/
    padding: 20px 0;
    width: 95%;
    text-align: right;
}



@media only screen and (max-width: 800px) {
    .changePass{
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .changePass{
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .changePass{
        width: 100%;
    }
}